body {
    font-family: sans-serif;
    text-align: center;
    background-color: lightblue;
}

.link-nav1{
    margin-top: 50px;
    display: flex;
    justify-content: left;
}


.link-nav2{
    margin-top: -5px;
    display: flex;
    justify-content: right;
}

header a{
    position: absolute;
    color: navy;
    top:0;
    left:0;
    text-decoration: none;
    border: 2px solid navy;
    border-radius: 10%;
    margin-top: 10px;
    padding: 3px;
    
}

img{ 
    width: 400px;
    height: 300px;
}

footer img{
    width: 30px;
    height: 40px;

}

h1{
    text-align: center;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;

}
.photo{ 
    display: block;
  margin-left: auto;
  margin-right: auto;
     width: 100%;
}

nav a {
    text-decoration: none;
    color: navy;
    
}

.description{
    text-align: center;
    border: 2px solid navy;
    padding: 5px;
    border-radius: 10px;
}

.about{
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social{
    margin: 5px;
}
